ul{
list-style: none;
table-layout: fixed;
width: 100%;
border: none;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
   
li {
list-style: none;
text-align: center;
display: table-row;
}
figure {display:inline}
figcaption {display:block}
figure.left {float:left}
figure.right {float:right}

.left {
float: center;
border: none;
padding: 10px;
margin:0px;
}
figcaption {
text-align:center;
width: 360px;
}
.right {
float: center;
border: none;
padding: 10px;
margin:0px;
}